@import 'normalize.css';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'neat/neat';

$off-white: #f5f5f5;
$light-gray: #e5e9ec;

$dark-blue: #444857;

html {
  overflow-y: scroll;
}

body {
  background: $off-white;
}

.wrapper {
  @include outer-container;
  @include padding(1em);
  @include media($large-screen-up) {
    @include padding(0em);
  }
}

.row {
  @include row();
}

////// Header

// Top Bar
.top-bar {
  height: 1.8em;
  background-color: $dark-blue;
}

.logo {
  @include span-columns(2);
  margin-right: 0;
  padding-top: 0.4em;
  padding-bottom: 0.2em;
  color: $off-white;
  h4 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.2em;
  }
}

.intent-toggle {
  @include span-columns(3);
  li {
    float: left;
    color: $off-white;
    padding-left: 1.5em;
  }
  li.inactive {
    opacity: 0.4;
  }
}

.secondary-controls {
  @include span-columns(4);
  float: right;
  li {
    float: right;
    color: $off-white;
    padding-left: 2em;
    }
}

// White bar-main nav

.main-nav {
  background-color: white;
  border-bottom: 1px solid $light-gray;
  height: 3em;
}

.main-nav-list {
  @include span-columns(9);
  li {
    float: left;
    padding: 0.6em 1.6em;
    font-weight: 200;
    list-style: none;
    &.activated {
      background-color: red;
      a {
        color: dark-red;
      }
    }
  }
  li:first-child {
    margin-left: -1.6em;
  }
}

.search-header {
  @include span-columns(3.3);
  float: right;
  padding-top: 0.4em;
  input {
    border-radius: 4em;
    background-color: $light-gray;
    border: none;
  }
}

.category {
  padding-top: 4em;
}
.box-medium {
  @include span-columns (4);
  height: 12em;
  background-color: darken($light-gray, 2%);
}